:root {
  --biru: #176BB3;
  --kuning: #FFDD00;
  --abu: #a0a0a0;
  --fontfamily: Arial, Helvetica, sans-serif;
  --putih: azure;
  --abuterang: lightgray;
}

* {
  margin: 0;
  padding: 0;
  font-family: var(--fontfamily);
}

/* header */
.header-wrapper {
  border-bottom: 3px solid var(--abu);
}

/* header - nav */
.header-wrapper .nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.header-wrapper .nav .logo {
  padding: 5px;
}
.header-wrapper .nav .logo img {
  width: 70px;
  max-width: 100px;
}
.header-wrapper .nav .nav-main {
  display: none;
}
.header-wrapper .nav .nav-search {
  width: 60%;
  margin-top: 5px;
}
.header-wrapper .nav .nav-search div {
  position: relative;
  padding: 10px;
  border: 1px solid var(--abu);
  border-radius: 5px;
}
.header-wrapper .nav .nav-search input {
  width: 100%;
  border: none;
}
.header-wrapper .nav .nav-search input:focus {
  outline: none;
}
.header-wrapper .nav .nav-search button {
  position: absolute;
  right: 0;
  margin-top: -10px;
  padding: 10px 15px;
  background: none;
  border: none;
}
.header-wrapper .nav .akun {
  display: flex;
  align-items: center;
}
.header-wrapper .nav .akun button {
  display: none;
}
.header-wrapper .nav .akun div i {
  font-size: 25px;
  margin-right: 20px;
}

/* header - search */
.header-wrapper .search {
  display: none;
}

/* header - nav bottom */
.header-wrapper .nav-bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--putih);
  border-top: 3px solid var(--abu);
  position: fixed;
  bottom: 0;
}
.header-wrapper .nav-bottom div {
  margin-top: 5px;
  text-align: center;
  padding: 8px;
  text-transform: capitalize;
}
.header-wrapper .nav-bottom div i {
  font-size: 1.5rem;
  margin-bottom: 5px;
}

/* content */
.content-wrapper .banner {
  height: 250px;
  margin-top: 20px;
}
.content-wrapper .banner .swiper {
  width: 100%;
  height: 100%;
}
.content-wrapper .banner .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.content-wrapper .banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* kategori */
.content-wrapper .kategori {
  background-color: var(--abuterang);
  margin-top: 20px;
  padding-bottom: 20px;
}
.content-wrapper .kategori h3 {
  text-transform: capitalize;
  padding: 20px 0;
  text-align: center;
}
.content-wrapper .kategori .kategori-list {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 10px;
  justify-content: space-evenly;
}
.content-wrapper .kategori .kategori-list div {
  width: 100%;
}
.content-wrapper .kategori .kategori-list div img {
  width: 180px;
}
.content-wrapper .kategori .kategori-list div p {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

/* content produk */
.content-wrapper .produk {
  margin-top: 20px;
  padding-bottom: 20px;
}
.content-wrapper .produk h3 {
  text-align: center;
  padding: 20px 0;
  text-transform: capitalize;
}
.content-wrapper .produk .produk-list {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  row-gap: 15px;
}
.content-wrapper .produk .produk-list img {
  width: 180px;
}
.content-wrapper .produk .produk-list p {
  text-align: center;
  margin-top: 5px;
}
.content-wrapper .produk .produk-pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.content-wrapper .produk .produk-pagination div {
  border: 1px solid var(--abu);
  padding: 5px 10px;
  margin: 5px;
}

/* cabang */
.content-wrapper .cabang {
  background-color: var(--abuterang);
  margin-top: 20px;
  padding-bottom: 40px;
}
.content-wrapper .cabang h3 {
  text-align: center;
  text-transform: capitalize;
  padding: 20px 0;
}
.content-wrapper .cabang .cabang-list {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  row-gap: 20px;
  column-gap: 30px;
}
.content-wrapper .cabang .cabang-list div {
  width: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.content-wrapper .cabang .cabang-list div:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.content-wrapper .cabang .cabang-list h4 {
  text-align: center;
  text-transform: capitalize;
  background-color: var(--biru);
  color: var(--putih);
  padding: 10px 0;
  border-radius: 5px 5px 0 0;
}
.content-wrapper .cabang .cabang-list div p {
  padding: 5px 10px;
}

/* footer */
.footer-wrapper {
  margin-bottom: 80px;
  margin-top: 20px;
}
.footer-wrapper div {
  text-align: center;
  font-size: 12px;
  color: var(--abu);
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* content produk */
  .content-wrapper .produk .produk-list {
    grid-template-columns: auto auto auto;
  }

  /* content cabang */
  .content-wrapper .cabang .cabang-list {
    grid-template-columns: auto auto;
  }
  .content-wrapper .cabang .cabang-list div {
    width: 300px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-wrapper {
    width: 90%;
    margin: auto;
  }

  /* header - nav main */
  .header-wrapper .nav .nav-main {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 80%;
  }
  .header-wrapper .nav .nav-main div {
    padding: 10px;
    font-size: 12px;
    font-weight: bold;
    color: var(--biru);
    text-transform: uppercase;
  }
  .header-wrapper .nav .nav-main div a {
    text-decoration: none;
  }
  .header-wrapper .nav .akun button {
    display: block;
    border: 1px solid var(--abu);
    padding: 8px 12px;
    border-radius: 3px;
    text-transform: uppercase;
    margin-left: 5px;
  }
  .header-wrapper .nav .akun .register {
    background: none;
  }
  .header-wrapper .nav .akun .login {
    background-color: var(--biru);
    color: azure;
  }
  .header-wrapper .nav .nav-search {
    display: none;
  }

  /* header - search */
  .header-wrapper .search {
    display: block;
    margin-bottom: 10px;
  }
  .header-wrapper .search div {
    position: relative;
    padding: 10px;
    border: 1px solid var(--abu);
    border-radius: 5px;
  }
  .header-wrapper .search input {
    width: 100%;
    border: none;
  }
  .header-wrapper .search input:focus {
    outline: none;
  }
  .header-wrapper .search button {
    position: absolute;
    right: 0;
    margin-top: -10px;
    padding: 10px 15px;
    background: none;
    border: none;
  }

  /* header - nav bottom */
  .header-wrapper .nav-bottom {
    display: none;
  }

  /* content */
  .content-wrapper {
    width: 90%;
    margin: auto;
  }

  /* content kategori */
  .content-wrapper .kategori .kategori-list {
    grid-template-columns: auto auto auto auto;
  }
  .content-wrapper .kategori .kategori-list div img {
    width: 150px;
  }

  /* content produk */
  .content-wrapper .produk .produk-list {
    justify-content: space-between;
    grid-template-columns: auto auto auto auto;
  }
  .content-wrapper .produk .produk-list img {
    width: 170px;
  }

  /* content cabang */
  .content-wrapper .cabang .cabang-list {
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 10px;
  }
  .content-wrapper .cabang .cabang-list div {
    width: 220px;
  }

  /* footer */
  .footer-wrapper {
    margin-bottom: 10px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-wrapper {
    width: 80%;
    margin: auto;
  }

  /* header - nav */
  .header-wrapper .nav .nav-main div {
    font-size: 14px;
  }

  /* content */
  .content-wrapper {
    width: 80%;
    margin: auto;
  }

  /* content - kategori */
  .content-wrapper .kategori .kategori-list div img {
    width: 200px;
  }

  /* content produk */
  .content-wrapper .produk .produk-list img {
    width: 200px;
  }

  /* content cabang */
  .content-wrapper .cabang .cabang-list {
    row-gap: 20px;
    column-gap: 30px;
  }
  .content-wrapper .cabang .cabang-list div {
    width: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* content - kategori */
  .content-wrapper .kategori .kategori-list div img {
    width: 230px;
  }

  /* content produk */
  .content-wrapper .produk .produk-list {
    justify-content: space-between;
    grid-template-columns: auto auto auto auto auto auto;
  }
  .content-wrapper .produk .produk-list img {
    width: 175px;
  }
}